<header>
        
        <div class="Logo"><a href="#"><img src="icono.jpg" width="130px" height="80" alt="LOGO"></a></div>
        <nav class="Menu">
            
            <ul>
                <button id="bTn-Regis"><a href="#" >Reggistrarse</a></button>
                <button id="bTn-IniS"><a href="#" >Inicia sesion</a></button>
                <button><a href="#"><svg class="w-[43px] h-[43px] text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="50" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-width="0.8" d="M5 7h14M5 12h14M5 17h14"/>
            </svg>
                </a></button>           
            </ul>
        </nav>
   
    </header>