<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/resBusquedaNombre.css">
</head>
<body>
    <header>
       <div class="Logo"><a href="#"><img src="../icono.jpg" width="130px" height="80" alt="LOGO"></a></div>
            <form class="search-box" action="/buscar" method="GET">
                <input type="text" name="q" placeholder="Buscar...">
                <button type="submit">Buscar</button>
            </form>
            <nav class="Menu">
                    <ul>
                                <li><a href="#">Categorias</a></li>
                            
                    <button><a href="#"><svg class="w-[43px] h-[43px] text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="50" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-width="0.8" d="M5 7h14M5 12h14M5 17h14"/>
                    </svg>
                    
                </ul>
            </nav>
    </header>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
</html>