<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/resBusquedaNombre.css">
</head>
<body>
    <header>
        <div class="Logo">
            <a href="../index.html">TuSHooP🎈</a>
        </div>

            <form class="search-box" action="/buscar" method="GET">
                <input type="text" name="q" placeholder="Buscar...">
                <button type="submit">Buscar</button>
            </form>
            <nav class="Menu">
                <ul>
                    <li><a href="#">Menu</a></li>
                    <li><a href="#">Categorias</a></li>
                    <li><a href="#">Nombre</a></li>
                </ul>
            </nav>
    </header>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
</html>