:root {
  --verde-claro: #d8e7bf;  
  --verde-medio: #588157; 
  --verde-oscuro: #3A5A40;
  --verde-profundo: #344E41;
  --gris-beige: #DAD7CD;
  --verde-header: #194339;
}

/* ---------- HEADER ---------- */
header {
  background-color: #194339;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .Logo {
  display: flex;
  float: left;
  
}

header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--verde-header);
  text-align: center;
  gap: 5px;
  list-style: none;
}
header nav ul button{
  padding: 7px;
  border: none;
  background-color: var(--verde-medio);
  color: white;
  border-radius: 10px;
  cursor: pointer;
  
}
.menu-conte {
  position: relative; /* necesario para posicionar el desplegable */
  display: inline-block;
}

/* Lista desplegable (oculta por defecto) */
.menu-desplegable {
  display: none;
  position: absolute;
  top: 100%; /* justo debajo del botón */
  left: -100px;
  background-color: var(--verde-profundo);
  list-style: none;
  margin: 0;
  padding: 10px;
  border-radius: 5px;
  min-width: 150px;
}

/* Estilos de los enlaces */
.menu-desplegable li a {
  display: block;
  padding: 8px 10px;
  color: white;
  text-decoration: none;
}

.menu-desplegable li a:hover {
  background-color: var(--verde-medio);
  border-radius: 5px;
}

/* Mostrar menú cuando el mouse pasa por encima del contenedor */
.menu-conte:hover .menu-desplegable {
  display: block;
}
header nav ul li a {
   text-decoration: none;
  color: var(--verde-medio);
  font-weight: bold;
 
}

a:hover {
  text-decoration: underline;
  color: var(--verde-claro);
}

/* ---------- CUERPO ---------- */
body {
  background-color: var(--gris-beige);
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

/* ---------- BARRA DE BÚSQUEDA ---------- */
.buscador {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  gap: 10px;
  height: 100px;
}

.buscador input {
  padding: 10px;
  border: 2px solid var(--verde-medio);
  border-radius: 10px;
  width: 250px;
  outline: none;
}

.buscador button {
  padding: 10px 15px;
  border: none;
  background-color: var(--verde-medio);
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.buscador button:hover {
  background-color: var(--verde-oscuro);
}

/* ---------- CONTENEDOR CENTRAL ---------- */
.cont {
  height: 500px;
  background-color: var(--verde-claro);
}

h2 {
  color: var(--verde-profundo);
  text-align: center;
}


footer {
  background-color: var(--verde-oscuro);
  color: white;
  text-align: center;
  padding: 20px;
}
