/* --verde-claro: #d8e7bf; 
--verde-medio: #588157; 
--verde-oscuro: #3A5A40;
 --verde-profundo: #344E41;
  --gris-beige: #DAD7CD; */

/*------------------------------------------------------------------*/
/*----------------------------- HEADER -----------------------------*/
/*------------------------------------------------------------------*/
header {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #3A5A40;
  display: flex;
  justify-content: space-between; /* separa el logo y el menú */
  align-items: center;            /* centra verticalmente */
  padding: 10px 30px;             /* agrega espacio interno */
}

header .Logo a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
}

.Menu ul {
  list-style: none;
  display: flex;                  /* pone los li en línea */
  gap: 20px;                      /* separación entre los elementos */
  margin: 0;
  padding: 0;
}

.Menu a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.Menu a:hover {
  color: #d8e7bf; /* un verde claro o color destacado */
}

/*------------------------------------------------------------------*/
/*------------------------------ BODY ------------------------------*/
/*------------------------------------------------------------------*/
h1 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 10px;         /* separación con la línea */
  padding-bottom: 5px;         /* espacio interior antes de la línea */
  border-bottom: 2px solid #3A5A40; /* color y grosor del borde */
}

.formRegistro {
  margin-top: 40px; /* separa el form del header */
}


body { 
    font-family: Arial, sans-serif;
    margin: 40px;
    background: #f7f7f7;
    color: #333; 
    } 
    
form { 
    display: flex; 
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: auto;  
} 
input, textarea, button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc; 
} 
button {
    background-color: #588157;
    color: white;
    cursor: pointer;
}
 button:hover { 
    background-color: #3A5A40;
} 
 ul { 
    list-style: none;
     padding: 0; 
}